@use '../utils/' as u;

.container {
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    background-color: u.$clr-neutral-100;
    border-radius: 3%;
    @media (max-width: 40em) {
        grid-auto-flow: row;
        grid-auto-rows: 1fr 1.55fr;
        }
    &__image {
        background-image: url(/image-product-desktop.jpg);
        background-size: cover;
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
        @media (max-width: 40em) {
            background-image: url(/image-product-mobile.jpg);
            border-bottom-left-radius: 0%;
            border-top-right-radius: 5%;
        }
    }
}